extends layout

include mixins/_reviewForm
include mixins/_review

block content
  .single
    .single__hero
      img.single__image(src=`${chatbot.photo || 'bot.png'}`)
      h2.title.title--single
        a(href=`/chatbot/${chatbot.slug}`) #{chatbot.name}

  .single__details.inner
    h4 Company: #{chatbot.company}
    h4 Framework: #{chatbot.framework}
    h4 
      a.btn.btn-primary(href=`${chatbot.api}`) Test
    p Description: #{chatbot.description}

    if chatbot.tags
      ul.tags
        each tag in chatbot.tags
          li.tag
            a.tag__link(href=`/tags/${tag}`)
              span.tag__text  ##{tag}

    if user
      +reviewForm(chatbot)

    if chatbot.reviews
      #review-list.reviews
        each review in chatbot.reviews
          .review
            +review(review)
